.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#111;
    color:white;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#ff4b2b;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
    padding:8px 15px;
    border-radius:5px;
}

.nav-links a:hover{
    background:#ff4b2b;
}

.nav-links a.active{
    background:#ff4b2b;
}